*{
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family: sans-serif;
}

.icon1{
    filter: opacity(60%);
    transition: all 200ms ease 0s;
    width: 20px;
}
 
.icon1:hover{
    filter: opacity(100%);
}

.p1{
    font-weight: bold;
}

.customheight{
    height: 500px;
    padding: 0px 0px;
    margin: 0px 0px;
}

.customFont{
    font-size: 1.45rem;
    color: rgb(68, 68, 68);
}

.customFontt{
    color: rgb(68, 68, 68);
}

.customBackground{
    background-color: rgb(250, 250, 250);
}

.textAlignCenter{
    text-align: center;
}
 
.h3{
    font-weight: 700;
}

.customFont1{
    font-size: 1.3rem;
}

@media all and (min-width:0px) and (max-width:575px){
    .customDisplay{
        font-size: 25px;
        margin-top: 25px;
    }

    .customMargin{
        margin-top: 20px;
        }
    
    .customWidth{
        cursor: pointer;
    }

}

@media all and (min-width:576px) and (max-width:767px){
    .customDisplay{
        font-size: 25px;
        margin-top: 25px;
    }

    .customMargin{
        margin-top: 100px;
        }

    .customWidth{
            cursor: pointer;
        }
    
}

@media all and (min-width:768px) and (max-width:991px){
.bg1 {
    background-image: url("../images/5.jpg");
    background-size: cover;
    background-position: center;
    
}
.customMargin{
    margin-top: 100px;
    }

    .h50{
        height: 30vh;
    }

    .imgh{
        width: 15%;
        margin: 0px auto;
    }

    .underlineClass {
        color:rgb(210, 210, 210);
        transition: all 200ms linear 0s;
    }
    
    .underlineClass:hover {
        color:rgb(255, 255, 255);
    }
    
    .underlineClass::after {
        content: "";
        display: block;
        transition: all 200ms linear 0s;
    }
    
    .underlineClass:hover::after {
        border-bottom: 1px solid black;
    }

    .customWidth{
        cursor: pointer;
    }

    

}

@media all and (min-width:992px) and (max-width:1199px){
.bg1 {
    background-image: url("../images/5.jpg");
    background-size: cover;
    background-position: center;
}
.customMargin{
    margin-top: 100px;
}
.customWidth{
    width: 25%;
    margin: 0px auto;
    cursor: pointer;
}
    
.h50{
    height: 30vh;

} 

.imgh{
    width: 15%;
    margin: 0px auto;
}


.underlineClass {
    color:rgb(210, 210, 210);
    transition: all 200ms linear 0s;
}

.underlineClass:hover {
    color:rgb(255, 255, 255);
}

.underlineClass::after {
    content: "";
    display: block;
    transition: all 200ms linear 0s;
}

.underlineClass:hover::after {
    border-bottom: 1px solid black;
}


}

@media all and (min-width:1200px){
    .bg1 {
        background-image: url("../images/5.jpg");
        background-size: cover;
        background-position: center;
    }
    .customMargin{
        margin-top: 100px;
    }
    .customWidth{
        width: 25%;
        margin: 0px auto;
        cursor: pointer;
    }
        
    .h50{
        height: 30vh;
    }

    .imgh{
        width: 15%;
        margin: 0px auto;
    }

    .underlineClass {
        color:rgb(210, 210, 210);
        transition: all 200ms linear 0s;
    }
    
    .underlineClass:hover {
        color:rgb(255, 255, 255);
    }
    
    .underlineClass::after {
        content: "";
        display: block;
        transition: all 200ms linear 0s;
    }
    
    .underlineClass:hover::after {
        border-bottom: 1px solid black;
    }
    
}

.bg-gray{
    background-color: rgb(250,250, 250);
}

.opacity{
    filter: opacity(80%);
    transition: all 200ms ease 0s;
    cursor: pointer;
}
 
.opacity:hover{
    filter: opacity(100%);
}

.bg2{
    /* background-image: url("../images/25.jpg"); */
    background-color: rgb(245, 245, 245);
}

.cp{
    cursor: pointer;
}

.customClass{
    cursor: pointer;
    color: rgb(68, 68, 68);
}

.customClass h4{
    font-weight: 700;
}

.customClass:hover{
    color: rgb(114, 114, 114); 
    transition: all 100ms linear 0s;
}

.ul1{
    color: rgb(125, 125, 125);
}
ul {
  list-style-type: none;
}